<button type="button" class="btn btn-success" (click)="createClub()">Create new CLub</button>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col">create_date</th>
      <th scope="col">address</th>
    </tr>
  </thead>
  <tbody >
    @for (club of clubs; track $index) {
      <tr class="table-active">
        <th scope="row" >Active</th>
          <td >{{club.name}}</td>
          <td>{{club.CreateDate }}</td>
          <td>{{club.address}}</td>
          <td><button type="button" class="btn btn-warning" (click)="editClub(club)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteClub(club)">Delete</button></td>
      </tr>
    }
  </tbody>
</table>
