<form class="container p-5" [formGroup]="editGroup" (ngSubmit)="$event.preventDefault(); submitForm()">
  <div class="mb-3">
    <label class="form-lable">Edit club name</label>
    <input type="text" class="form-control" formControlName="editClubName">

    @if(editGroup.get('editClubName')?.invalid && (editGroup.get('editClubName')?.dirty || (editGroup.get('editClubName')?.touched))){
      <div>
        <small class="text-danger"> Enter correct date</small>
      </div>
    }
  </div>

  <div class="mb-3">
    <label class="form-lable">Edit create date</label>
    <input type="email" class="form-control" type="date" formControlName ="editClubCreate_date">

     @if(editGroup.get('editClubCreate_date')?.invalid && (editGroup.get('editClubCreate_date')?.dirty || (editGroup.get('editClubCreate_date')?.touched))){
      <div>
        <small class="text-danger"> Enter correct date</small>
      </div>
    }
  </div>

  <div class="mb-3">
    <label class="form-lable">Edit address</label>
    <input type="email" class="form-control" formControlName ="editClubAdress">

     @if(editGroup.get('editClubAdress')?.invalid && (editGroup.get('editClubAdress')?.dirty || (editGroup.get('editClubAdress')?.touched))){
      <div>
        <small class="text-danger"> Enter the address </small>
      </div>
    }
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary" [disabled]="editGroup.invalid"> Submit</button>
    <button type="button" class="btn btn-primary"  (click)="$event.preventDefault(); returnToClubList()"> Back</button>
  </div>
</form>

