<h1>Angular Router App</h1>
<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active"  href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/club-list" routerLinkActive="active"  href="#">Clubs</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- <add-team-form (addTeam)="items.push($event)">

</add-team-form>

<app-team-filter (filter)="filter = $event">

</app-team-filter>

<div class="container">
  <team-list [teamsFromArray]="visibleTeams" > </team-list>
</div> -->

<router-outlet></router-outlet>
